
@font-face {
  font-family: "PatrickHand";
  src: url("../assets/PatrickHand-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SpringfieldCartoon";
  src: url("../assets/SpringfieldCartoon-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DisplayPatrol";
  src: url("../assets/DKDisplayPatrol.otf") format("truetype");
}

body {
  font-family: 'DisplayPatrol', sans-serif;
}

/* Apply the font to specific elements */
h1 {
  font-family: 'DisplayPatrol', sans-serif;
}

p, span, .ig-pic li {
  font-family: 'SpringfieldCartoon', sans-serif;
  
}

body{
  background-image: url("../images/palms-bg.png");
}

p{
  font-weight: 300;
  font-size: 21px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  color: #000 !important;
  line-height: 1.3;
  
}

.keno{
    color:red;
}

.my-nav{
  margin-bottom: 0;
  background: #78aa30;
  border: none;
}

.navbar-default .navbar-nav>li>a:hover {
  color:#fff;
  background-color: #000 !important;
}

ul.nav.navbar-nav li a {
  color: #fff;
}

img.logo {
  height: 24px;
}

.my-title h2 {
  margin-top: 60px;
  font-size: 48px;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 7px;
}

.my-title .drybudz-logos {
  width: 390px;
  display: block;
  margin: 0 auto;
  padding: 20px;
}

.my-title .drybudz-logos-lg {
  width: 420px;
  display: block;
  margin: 0 auto;
  padding: 0px 20px 20px 20px;
}

 .pdf-logos {
  width: 230px;
  display: block;
  margin: 0 auto;
  padding: 0px 20px 20px 20px;
}

.my-title {
  margin-bottom: 7px;
}

/*My Carousel*/

.my-carousel {
  padding-right: 0px;
  padding-left: 0px;
}

.carousel-caption h3 {
  display: block;
  margin-bottom: 40px;
}

.carousel-caption h3, .carousel-caption p {
  text-shadow: 0 0 3px #000, 0 0 5px #000;
  color: #fff !important;
}


.carousel-caption a {
  font-size: 18px;
  color: #fff;
}

.my-sticker-row h2 {
  color: #fff;
}

/*Pitch*/
.pitch strong {
  /*display: block;*/
}

/*My Goals*/

.my-goals img {
  margin: 0 auto;
}

.row.my-goals.text-center div {
  margin-bottom: 10px;
}

button {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  border-style: none;
  padding: 7px 30px;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
}
/*Life Cycle*/
h3 span {
  font-size: 14px;
}

.db-lifecycle li {
  font-size: 20px;
  font-weight: bold;
}

.container .img-responsive { /*Add container-fluid*/
  margin: 0 auto;
}

/*Poster / Game*/
.poster {
  background: #ffd200;
  padding-top: 10px;
  padding-bottom: 10px;
}

.collab {
  background: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*Model Stickers*/
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 20%;
  text-align: center;
}

.column .demo {
  width: 80%;
}

/*Progress*/
.my-progress img {
  max-width: 240px;
  display: block;
  margin: 0 auto;
  padding: 20px;
} 

/* IG Designs */

#igdesigns blockquote {
  margin: 0 auto !important;
}

/*Get Yours*/
.get-yours ul li {
  font-weight: 300;
  font-size: 14px;
}

li b {
  font-size: 20px;
}

.get-yours h3 {
  text-align: center;
  font-size: 34px;
}

.sm-text {
  font-size: 0.9em;
  font-weight: bold;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-image: url("../images/sticker-wood.png");
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.mySlides img {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  display: block;
}

/* The Close Button */
.close {
  color: #ff2a21;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 70px;
  font-weight: bold;
  opacity: 0.9;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000;
  font-size: 22px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  /*background-color: black;*/
  padding: 2px 16px;
  color: #fff;
  font-weight: bold;
  margin: 10px;
  font-size: 30px;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Images with bottom border dark*/
.black-bottom-border.img-responsive {
  border: black;
  border-bottom-width: 7px;
  border-bottom-style: solid;
  padding-bottom: 0px !important;
}

/*Sticker Container*/

.my-stickers-container {
  background-image: url("../images/sticker-wood.png");
  padding: 30px 0 70px 0;
  margin-bottom: 70px;
}

.my-stickers-container p, .my-stickers-container h3 {
  color: #fff;
  display: none;
}

.my-stickers-container img {
  padding: 10px;
  margin: 0 auto;
}
.my-stickers-container img:hover, .my-stickers-container img:focus, .my-stickers-container img:active {
  padding: 0px;
}

/*How it works*/

.row.meet-db.text-center img {
  padding: 10px 0;
}

.container.how-works.my-title .row ul li {
  list-style: none;
  font-weight: 300;
  font-size: 16px;
}

.container.how-works.my-title .row ol li {
  font-weight: 300;
  font-size: 19px;
  text-align: left;
}

.how-text {
  padding-top: 30px;
}

.tab-content img {
  padding: 20px;
}

.ig-pic iframe {
  margin: 0 auto !important;
}

/* WCW */

.wcw i {
  font-size: 13px;
  font-weight: bold;
}

/*Get Yours */

li.li-sm {
  font-size: 11px;
  font-weight: bold !important;
  list-style-type: none;
  padding-bottom: 5px;
}

  input[type="radio"] {
      -ms-transform: scale(1.5); /* IE 9 */
      -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
      transform: scale(1.5);
  }
  
  .center-img img {
    margin: 0 auto;
}

/*Before & After*/
#beforeafter {
  background: #fff;
  color: #555;
  cursor: default;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

  /*Contact Sticky Note*/
  .glyphicon {
      font-size: 20px !important;
      padding:7px 30px !important;
  }

  .sticky-note {
    background: #fbf966; /*#fbb708;*/
    box-shadow: 0px 3px 20px;
    height: auto;
    width: auto;
    display: block;
    margin: 0 auto;
  }

  /*Paypal*/
  #paypalme {
    font-size: 18px;
    font-weight: bold;
}
  

  .sticky-note p {
    padding: 20px 10px 10px 10px;
    /*font-weight: bold;*/
  }

  p#contact-text a {
      color: #000;
  }

  .sticky-note p span {
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    display: block;
}

.sticky-note img {
  padding: 0px 40px 0px 40px;
}


  .my-form {
    padding: 20px;
}

  .my-contact-container {
    margin-bottom: 40px;
  }

  .my-shops-container h4 img {
    width: 50px;
    height: 50px;
  }

  .container.my-shops-container h4 {
    text-align: right;
}


  .myfield {
    background: #faf97a;
    border-style: none none solid none;
    border-bottom-width: 5px;
    border-bottom-color: #000;
    margin-bottom: 10px;
    border-radius: inherit;
}



.mybtn {
  background: #000;
  color: #fff;
  border: none;
  border-radius: initial;
  font-size: 18px;
  padding: 10px 50px;
}

.mybtn:hover {
  color: #fff;
  background-color: #545454;
  border-color: #000;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
  
  /*Notes
  
  https://image.ibb.co/iEiha8/boca_1.png //dientes
  https://image.ibb.co/hBDha8/boca_2.png //muy feliz
  https://image.ibb.co/jGDha8/boca_3.png //muy triste
  https://image.ibb.co/juq62o/boca_4.png //normal
  
  https://image.ibb.co/gpQH8T/eyes_1.png //normal 0
  https://image.ibb.co/gqCav8/eyes_2.png //asustado 1
  https://image.ibb.co/czUzNo/eyes_3.png //cansado 2
  https://image.ibb.co/ivCav8/eyes_4.png //corazones 3
  https://image.ibb.co/mX1qTT/eyes_5.png //gafas 4
  https://image.ibb.co/hJEzNo/eyes_6.png //cerrados 5
  https://image.ibb.co/iWWP58/eyes_7.png //lado 6
  
  https://image.ibb.co/bH7KNo/head.png//normal
  https://image.ibb.co/jsjNso/head_2.png //lado
  
  */
  
  /*
  How Everything Started
  https://stackoverflow.com/questions/48474/how-do-i-position-one-image-on-top-of-another-in-html*/

  
  /*Tips
  vvvvvvvvvvvvvvvvvvv*/

  h4#navTips {
    padding-top: 60px;
}

/* Fyah Creator */
/*Emoji Creator Section*/

.dichoForm p, .dichoForm strong {
  font-size: 16px;
}

.dichoForm {
  padding-bottom: 30px;
}


#emoji-instr {
  display: block;
  margin-bottom: 25px;
}
.jumbotron hr {
  border-color: #aaa;
}

.jumbotron p {
  color: #aaa;
}

label.radio-inline {
  font-size: 20px;
}

.jumbotron.my-jumbotron.text-center {
  margin-bottom: 20px;
  box-shadow: 0px 3px 20px;
}

.checkbox-inline, .radio-inline {
  margin-bottom: 10px;
}

#faceSections {
  padding: 20px;
}

.controls {
  background-color: #ececec !important;
}

.btn {
  margin-bottom: 15px !important;
}

.emojiFrame {
  min-width: 260px;
  max-width: 420px;
  margin: 0px auto 40px auto;
  position: relative;
  top: 0;
  left: 0;
}

.head {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.boca {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.eyes {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.dicho {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

/*Before Bootstrap Center
  .eyes {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  */

input[type="radio"] {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Chrome, Safari, Opera */
  transform: scale(1.5);
}

.glyphicon {
  font-size: 20px;
  padding: 7px 30px !important;
}

  /*Prefooter
  vvvvvvvvvvvvvvvvvvv*/
  .row.myprefooter p {
    display: inline-block;
}

.row.myprefooter {
  background: #fafafa;
  /**/padding: 10px auto;
  border-top-style: solid;
  border-top-color: #cbcbcb;
  
}

.myprefooter img {
  margin: 40px auto;
  display: block;
}

 footer a {
    color:#fff;
  }

  footer img {
    /*margin: 7px;*/
}

footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: #009245;
    height: 70px;
    padding-top: 15px;
    font-weight: bold;
  }

  .tico img {
      float: right;
  }

  /*Drybudz Styles*/
  .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header {
    padding: 30px 0;
  }

  .imageWidget {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .imageWidget img {
    width: 100%;
  }
  
  
  html.magnifying > body {
    overflow-x: hidden !important;
  }
  .magnify {
    position: relative;
    display: inline-block;
  }
  .magnify .magnify-lens {
    /* Create the magnifying lens */
    position: absolute;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    /* Multiple box shadows to achieve the glass lens effect */
    -webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
      0 0 7px 7px rgba(0, 0, 0, 0.25),
      inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
      0 0 7px 7px rgba(0, 0, 0, 0.25),
      inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    /* Hide the mouse pointer */
    cursor: none;
    /* Hide the lens by default */
    display: none;
    /* Place the lens on top of other elements */
    z-index: 100;
  }
  .magnify .magnify-lens.loading {
    background: #333 !important;
    opacity: 0.75;
  }
  .magnify .magnify-lens.loading:after {
    /* Loading text */
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    color: #fff;
    content: 'Loading...';
    font: italic normal 16px/1 Calibri, sans-serif;
    text-align: center;
    text-shadow: 0 0 2px rgba(51, 51, 51, 0.8);
    text-transform: none;
  }
  
  /*
  img#englishGringo.selected {
    background-image: url("../images/flag-usa-sm-on.png");
  }

  img#espanholTico.selected {
    background-image: url("../images/flag-tico-sm-on.png");
  }*/

  .flags {
      margin-top: 20px;
  }

  /*Tips BTN*/
  /*Back to top
    vvvvvvvvvvvvvv*/
    #myBtnTop {
      display: none; /* Hidden by default */
      position: fixed;
        bottom: 20px;
        right: 7px;
        z-index: 99;
        outline: none;
        height: 100px;    
        width: 100px;
        background-image: url("../images/top-arrow-md.png");
        color: black;
        cursor: pointer;
        padding: 6px 3px;
        border-radius: 25px;
        font-size: 20px;
    }

    #myBtnTop:hover {
      background-color: #ffd101; /* Add a dark-grey background on hover */
    }

    .row.rule1 {
      background: #fdc929;
      box-shadow: 0px 3px 20PX;
      margin: 20px;
      padding: 20px 20px 30px 20px;

  }

  .rule1 h2 {
    font-size: 60px;
}

  
  /* Media Query */
  /*You can also use the (max-width: ..) and (min-width: ..) values to set a minimum width and a maximum width.
For example, when the browser's width is between 600 and 900px, change the appearance of a <div> element:*/

  @media (min-width:32px) and (max-width: 991px) {
        .my-stickers-container img {
          width: 100%;
          margin: 0 auto;
      }

        .my-title h2 {
          margin-top: 30px;
          font-size: 38px;
      }

      .my-thumbnail-nav{
        display: none;
      }

      .open-modal-pics .column {
        width: 100%;
    }

    .row {
      margin: 0;
    }

    .how-works h3 {
      text-align: center;
    }

    .container-fluid {
      padding-right: 0;
      padding-left: 0; 
    }

    .navbar-header {
        padding: 0 10px;
    }

    .navbar-header.mynav {
      margin: 0;
  }

    ul.nav.navbar-nav {
      margin-left: 10px;
  }

    .myprefooter img {
      margin: 14px auto;
      display: block;
  }

  }


  @media screen and (min-width: 1px) and (max-width: 480px) {

    img#db-logo {
      width: 100%;
  }

    .sticky-note {
      width: 100%;
    }
    .controls {
      padding-top: 20px;
  }
  .col-xs-12 .radio-inline {
      margin-left: 5px;
  }

  .carousel-inner, .container-slider {
      display: none;
  }

  .mobile-banner {
      padding: 0;
      
  }
  .mobile-banner img {
    width: 100%;
    
}

  .jumbotron.my-jumbotron.text-center {
      padding: 25px 0px;
  }

  .no-padding{
    padding: 0px; 
  }

  }

  @media screen and (min-width: 481px) {
    .mobile-banner {
      display: none;
    }

    .wcw img {
        padding: 0px 50px 20px 50px;
    }

  }
  @media screen and (min-width: 481px) and (max-width: 767px) {
    .controls {
        padding-top: 10px;
    }
  
  }

  @media screen and (min-width: 768px) {
    
    .row-va {
      display: flex;
      align-items: center;
    }

  }

  @media screen and (min-width: 992px) {
    .row.rule1 img {
      padding: 0px 0px 40px 0px;
    }

    .video-weedtube {
      padding: 0px 70px 90px 70px;
    }
  }




  /*by @Keno10cr .:*/