
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136529394-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-136529394-1');
  </script>
  <link href="https://fonts.cdnfonts.com/css/enthusiastic-2" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/ganyo-2" rel="stylesheet">
  <!--
            Keno Notes:
            https://getbootstrap.com/docs/4.1/examples/navbar-fixed/
        -->

  <!-- Global site tag (gtag.js) - Google Analytics -->


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="images/favicon.ico">

  <title>#Drybudz.:</title>

  <!-- CSS -->
  <link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/3.3/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet">
  <!-- Magnify Glass -->
  <link href="css/magnify.css" rel="stylesheet">
  <!-- JS -->
  <script src="js/keno-logics.js"></script>

</head>

<body>

  <!--http://getbootstrap.com/docs/3.3/examples/navbar-static-top/-->
  <nav id="navTop" class="navbar navbar-default navbar-static-top my-nav">
    <div class="container-fluid">
      <div class="navbar-header mynav">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"><img class="logo" src="images/drybudz-logo-sm.png"></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
        <ul class="nav navbar-nav">
          <!--<li><a id="stk-home" href="#navTop">Inicio</a></li>-->

          <li><a href="#lifecycle">Life Cycle</a></li>
          <li><a href="#poster">Drybudz Poster</a></li>
          <li><a href="#how">How it works</a></li>
          <li><a href="#instagram">Instagram Designs</a></li>
          <li><a href="#getyours">GET YOURS!</a></li>
          <li><a id="stk-contact" href="#contact">Contact</a></li>

        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>

  <!--
      CAROUSEL GOOD 
      https://www.w3schools.com/bootstrap/bootstrap_carousel.asp
      https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_carousel2&stacked=h
  -->
  <div class="container-slider">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active">
          <img src="images/drybudz-banner-1.jpg" alt="Drybudz Banner Poster" style="width:100%;">
          <div class="carousel-caption">
            <a href="#db-logo">
              <h3 id="banner1">Welcome to the DRYBUDZ.:</h3>
            </a><!-- Why Drybudz -->
          </div>
        </div>

        <div class="item">
          <img src="images/drybudz-banner-2.jpg" alt="Drybudz Banner Poster" style="width:100%;">
          <div class="carousel-caption">
            <a href="#lifecycle">
              <h3 id="banner2">Things are different around here!</h3>
            </a><!-- Meet the Drybudz //RULES -->
          </div>
        </div>

        <div class="item">
          <img src="images/drybudz-banner-3.jpg" alt="Drybudz Banner Poster" style="width:100%;">
          <div class="carousel-caption">
            <a href="#poster">
              <h3 id="banner3">Check the Poster!</h3>
            </a><!-- Get Yours -->
          </div>
        </div>

      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="container-fluid mobile-banner">
    <img src="images/bg0.jpg" alt="These are the #DRYBUDZ">
  </div>
  <!--CAROUSEL GOOD -->





  <!--END About Section-->

  <!-- Goals Section-->
  <div class="container text-center my-title">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 text-center">
        <img id="navDrybudz" src="images/drybudz-logo-characters.png" class="drybudz-logos img-responsive" alt="Drybudz Logo">
        <p id="drybudz-text">Welcome to the world of #DRYBUDZ! This website, along with the life cycle and the poster, will provide you with insights into the fascinating world of #DRYBUDZ and how things work here.</p>
      </div>
    </div>

    <img id="db-logo" src="images/drybudz-logo-sm.png" class="drybudz-logos-lg" alt="#DRYBUDZ">
  </div>

  <!--End Goals Section-->

  <!--Life Cycle Section Starts-->

  <div class="container db-lifecycle my-title">
    <h2 id="lifecycle">Life Cycle</h2>
    <div class="row row-va">
      
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">  
        <img src="images/lifecycle420.png" class="img-responsive" alt="#DRYBUDZ Life Cycle">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <p>These guys follow the path of the LIFE CYCLE, constantly evolving and seeking personal and physical enlightenment in their many lives. Their core beliefs revolve around doing good and embracing the present in all its forms. By embarking on this journey of enlightenment, #DRYBUDZ strive to attain inner peace and gain a deeper understanding of life, by reaching new heights with FYAH as their guiding force. Throughout their journey, they embark on extraordinary adventures, uncovering the secrets of their existence. Join us as we explore the depths of the #DRYBUDZ world and scroll down to learn more about their amazing story.</p>
        <p>Things work differently around here, as it's a loop with no clear starting point. But one thing is certain, weed has existed long before us. Remember, everything will be alright. #thinkaboutit</p>
      </div>
      
    </div>
      <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
          <h3><span>1.</span> The Plant</h3>
          <p>Let's start with this beautiful and iconic cannabis leaf. It has been doing an amazing job for thousands of years. Some call it the weed, some call it marijuana, some of them call it ganja, but in the end, it is a natural plant that just needs love, attention, and water to grow almost anywhere. Don't panic; it's organic.</p>
        </div>
        <div class="col-xs-8 col-sm-3 col-md-3 col-lg-3 text-center">
          <img src="images/lifecycle-step1.png" class="img-responsive" alt="#DRYBUDZ Life Cycle">
        </div>  
        
      </div>
        <div class="row">
          
          <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h3><span>2.</span> The Nugz</h3>
            <p>The Nugz are nurtured by a caring plant during a single harvest, gradually developing their own distinct personalities influenced by their mother plant and the devoted ganja Farmerz. After undergoing a meticulous drying process that involves meditation and self-control, they are ready to embark on their journey towards enlightenment alongside their community.</p>
            <p>Driven by a profound curiosity to explore life, the Nugz transform into Drybudz and delight in wandering and discovering the world during this stage. They often venture to faraway places, expanding their horizons beyond their place of birth.</p>
          </div>
          <div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
            <img src="images/lifecycle-step2.png" class="img-responsive" alt="#DRYBUDZ Life Cycle">
          </div> 
        </div>
        <div class="row">
          
          <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h3><span>3.</span> The Jointz *</h3>
            <p>It's not actually necessary for Nugz to take this step, but life is a wonderful journey with many alternatives and unique experiences for them in each life cycle they go through. Along the way, they have been further nurtured and influenced by Humanz, gaining more experience and understanding of the world they inhabit, which prepares them for their next steps.</p>
            <p><b>*</b> There are more alternatives to this step. It doesn't have to be a joint; it could be a blunt, oil pen, and many more. It's amazing to see the many ways cannabis can be consumed in a proper and healthy manner, benefiting the user.</p>
          </div>
          <div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
            <img src="images/lifecycle-step3.png" class="img-responsive" alt="#DRYBUDZ Life Cycle">
          </div> 
        </div>
        <div class="row">
          
          <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h3><span>4.</span> Meet Fyah</h3>
            <p>Fire, an immortal traveler, holds a unique perspective on the world and life cycle. The Fyah characters are carriers of light, guiding the #DRYBUDZ to new levels. Fyah brings wisdom, clarity, and peace when igniting the DRYBUDZ.</p>
<p>Lighters, fueled by their passion for the sun, witness the DRYBUDZ rise as Cloudz, inspiring admiration and respect. Legends speak of lighters riding atop the Cloudz, evoking a sense of wonder.</p></div>
        <div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
          <img src="images/lifecycle-step4.png" class="img-responsive" alt="#DRYBUDZ Life Cycle">
        </div> 
        </div>
        <div class="row">
          
          <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h3><span>5.</span> Cloudz</h3>
            <p>The Cloudz gain a unique perspective as they ascend to new heights, experiencing deep understanding, inner peace, and a sense of belonging. Nurtured by the Fyah lighters and their connection to the sun, they embrace the simple joys of life and merge harmoniously with nature, embodying their true essence.</p>
            <p>However, as the saying goes, "what goes up must come down." Driven by curiosity and a spirit of adventure, the Cloudz embark on a journey in search of a pot or pothead, eager to begin a new cycle. Their exploration of uncharted territories fuels their perpetual fascination with the mysteries of existence.</p>

            </div>

            <div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
              <img src="images/lifecycle-step5.png" class="img-responsive" alt="#DRYBUDZ Life Cycle">
            </div> 
        </div>

      </div>
    </div>
  </div>

  <!---Life Cycle Section Ends-->

  <div class="container">
    <div class="row rule1 row-va">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
        <h2>Rule # 1:</h2>
        <h3>WEED DOES NOT SMOKE WEED</h3>
        <p>This is the fundamental rule of the cycle of life. Breaking this rule only brings headaches. That's why you won't see any of the #DRYBUDZ smoking their own kind. It's sick! However, there's Bad Weed out there, and those are the ones engaging in weird acts of #CANNABALISM.</p>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
        <img src="images/cannabalism.jpg" class="img-responsive" alt="Cannabalism">
      </div>
    </div>
  </div>

  

  

  <!--Instagram Designs Section-->
  <div id="instagram" class="container-fluid how-works my-title">
    <h2>Instagram Designs</h2>
    <div class="row text-center">
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
            <p>
                On Instagram, I add the #DRYBUDZ to pictures that resonate with my ideas and spread positive vibes. Each post shares a glimpse of the <b>#DRYBUDZ Life Cycle</b>, along with uplifting content. Before making any edits, I always reach out to the picture's owner for their approval. </p>
              <p><b>A big shoutout to all the Instagram accounts that allow me to create and share the #DRYBUDZ designs using their awesome pictures.</b> The cannabis culture and community are chill and respectful! I always give credit and tag the original accounts so you can find more of their dope pics on <a href="https://www.instagram.com/drybudz/" target="_blank">Instagram.</a>
              </p>
        </div>
    </div>
    
    <div class="row ig-pic text-center">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/BoltdXlFiNc/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="12" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="https://www.instagram.com/p/BoltdXlFiNc/?utm_source=ig_embed&amp;utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div> <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;"> View this post on Instagram</div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div></a> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BoltdXlFiNc/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Feeling Irie .: 📷 @veeganjaa #rasta 💚🔥🌳 #DRYBUDZ #irie #feelingirie #iloceyoumaryjane #420 #420life #puffpuffpass #fyah #TGIF #wakeandbake #blunt #blunted #marijuana #porro #highaf #goodweed #stonerchick #legalizemarijuana #rhodyreefers #kushqueen #maryjane #cannabis #🔥 #ganjagram #girlswhosmoke #itsaclipper #mmj</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by <a href="https://www.instagram.com/drybudz/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px;" target="_blank"> #DRYBUDZ</a> (@drybudz) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2018-10-06T11:01:08+00:00">Oct 6, 2018 at 4:01am PDT</time></p></div></blockquote> <script async src="//www.instagram.com/embed.js"></script>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/BoQOOKGlbho/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="12" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="https://www.instagram.com/p/BoQOOKGlbho/?utm_source=ig_embed&amp;utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div> <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;"> View this post on Instagram</div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div></a> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BoQOOKGlbho/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Options .: 📷 @alwaysincredible #choosewisely 🌳🌴🌲 #DRYBUDZ #happy #pickone #cannatoons #420 #decisions #puffpuffpass #hightimes #higher #naturalmystic #empirepapers #clubcannabis #tbt #fueledbythc #💯 #cannabissociety #highmerica #instaweed #weedporn #joints #weed #cannabis #smokeweedeveryday #staymedicated #wakeandbake #dope #dank</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by <a href="https://www.instagram.com/drybudz/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px;" target="_blank"> #DRYBUDZ</a> (@drybudz) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2018-09-28T02:44:08+00:00">Sep 27, 2018 at 7:44pm PDT</time></p></div></blockquote> <script async src="//www.instagram.com/embed.js"></script>
        </div>
      
    </div>
    <div class="row hidden">
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
            <p>
             <strong>Maybe in the future I will consider commmisions or special requests, but not at the moment.</strong> Since this
                started as a hobby I'm flattered by the suggestions but sadly I don't have enough time at the moment to work on
                custom designs, if you really want to support and be a part of this highdea <b><a href="#tips">tip are welcome.</a></b>
              </p>
      </div>
    </div>
  </div>
  <!--Instagram Designs Section END -->

  <!--How it works-->
  <div class="container how-works my-title">
    <h2 id="how">How it Works</h2>

    

  </div>

  <!--WHY WEED-->
  <div id="why" class="container wcw-container my-title">
    <p>I firmly believe in the universal acceptance of cannabis and the legalization of recreational consumption. Engaging with this plant should be treated on par with alcohol or tobacco, enjoying it responsibly and in moderation. It is important to recognize that cannabis does not hinder one's ability to be a productive member of society or accomplish great things in life. Let's embrace a perspective that appreciates cannabis as a natural part of our world, to be enjoyed with balance and without unnecessary stigma.</p>
    <div class="row meet-db text-center">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
        <h3 id="g1">Why Cannabis?</h3>
        <img src="images/why-cannabis.jpg" class="img-responsive black-bottom-border" alt="Why Cannabis?">
        <p>Let's address the elephant in the room: cannabis is a natural plant that exists as part of our world. It was created by Mother Nature, just like any other plant, and it carries numerous positive uses. Contrary to some misconceptions, cannabis does not make you aggressive or cause headaches. It has various beneficial properties throughout its entire composition.</p>
        

      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
        <h3 id="cartoons">Why cartoons?</h3>
        <img src="images/why-cartoons.jpg" class="img-responsive black-bottom-border" alt="Why Cartoons?">
        <p>I have a genuine passion for drawing and strongly believe in the power of cartoons with a positive message. Each design aims to uplift and inspire, bringing healing and a fresh perspective to life. Drawing is a natural and relaxing activity for me, comparable to a perfect day at the beach, enjoying music, and witnessing a beautiful sunset. Turning this passion into my profession is a dream I'm actively pursuing, fueled by my dedication to continuous improvement.</p>

        
          
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
        <h3 id="wcw">#WCW</h3>
        <img class="img-responsive black-bottom-border sm-text" src="images/puff-puff-ojos-rojos-v2-new-logo-nov-18-2017.jpg" alt="Weed Crush Wednesdays @ puffpuff_ojosrojos">
        <p><a href="https://www.instagram.com/puffpuff_ojosrojos/" target="_blank"><i><strong>@puffpuff_ojosrojos</strong></i></a></p>
        
        <p>The <b>#weedcrushwednesday</b> designs pay tribute to the beauty of mother nature, showcasing the beautiful and brave women within this amazing cannabis community. On Wednesdays, I create designs that celebrate the unique charm and courageous spirit of these remarkable individuals.</p>
      </div>
    </div>
  </div>
  <!--WHY WEED END-->

  <!--GET YOURS-->
  <div id="getyours" class="container how-works my-title">
    <h2>GET YOURS!!</h2>
    <div class="row row-va">
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center">
        <img src="images/drybudz-creator.png" class="img-responsive" alt="Poster Instructions">
      </div>
      <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 text-center">

        <p>Hi there! 👋🏽👨🏽‍🎨 I'm Keiner, and I love drawing and good weed. Combining these gun things, I've created the #DRYBUDZ, a collection of characters that embody positive vibes and celebrate the beauty of the life cycle. Each design offers a glimpse into their unique world and beliefs, where their goals intertwine.
        </p><p>
          For nearly 5 years, I've dedicated myself to crafting these designs with love and joy. Through the #DRYBUDZ, I aim to remind myself and others to embrace the randomness of life, find happiness in nature, and pursue our own journey to be free. If you have a picture in mind, let me know, and for just $10, the Genie in the Bong can create a personalized design for your picture. You'll receive 3 tokes, each representing a wish. Stay tuned to your DMs as I'm always on the lookout for cool pictures to design on. Let's collaborate and create something amazing together!</p>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
        <hr>  
        <h3>It's only 10 "BUCKZ"</strong></h3>
        <p>Bring Your #DRYBUDZ to Life and Make a Truly Unique Picture! From Funny Birthday Presents to Commemorating 420 Moments, Crew Representation, Session Invitations, and Cool Profile Pictures, #DRYBUDZ offers endless possibilities to showcase your cannabis journey with creativity and originality.</p> 
          
          <img src="images/get-yours-ten-buckz.png" class="img-responsive" alt="Get Yours 4 Ten Buckz">
          
          <p><strong>(TEN BUCKZ = TEN DOLLARS)</strong></p>
          <p class="sm-text">#introprice #cheapaf #thanksforthegoodvibes</p>

          
      </div>

  </div>

    <div class="row ig-pic text-center">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <h3>1. YOU GET 3 WISHES</h3>
          <img src="images/310-bong-genie.png" class="img-responsive" alt="Bong Genie">
          
          <p>Unleash Your Imagination and Customize Your #DRYBUDZ with 3 Wishes from the Genie in the Bong!
            <ol>
              <li>Choose their appearance, pose, and features.</li>
              <li>Decide what they do or hold.</li>
              <li>Add a short description or dedicate it to someone special.</li>
          </ol>
          
          </p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <h3>2. Email us</h3>
          <img src="images/310-cannafam.png" class="img-responsive" alt="Cannafam">
          <p><strong>DM or email me with cool pictures telling me your wishes, you can use as reference the posts on my Instagram feed.</strong></p>
          <p>Once we agree on the picture and your wishes, transfer the payment via PayPal. Don't worry, I won't disappear. It's a symbolic price considering the time I spend on each drawing. </p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <h3>3. YOU WILL RECEIVE</h3>
          <img src="images/310-your-designs.png" class="img-responsive" alt="Bong Genie">
          <p><strong>You'll receive your picture with a custom #DRYBUDZ design, along with the original image.</strong></p>
          <p>You'll receive your picture with a custom #DRYBUDZ design, along with the original image. Be respectful, creative, and patient during the process.</p>
        </div>
    </div>

   
    
    <div class="row ig-pic text-center">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
          <h3>IMPORTANT!</h3>
          <img src="images/310-cannabalism.png" class="img-responsive" alt="Important">
          
          <p>Please don't request to draw acts of <strong>"cannabalism"</strong> that's something we don't do around here. Weed doesn't smoke weed.</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <h3>MAX 3 .:</h3>
          <img src="images/310-max-3.png" class="img-responsive" alt="Max 3">
          
          <p>I wish I could draw all day but I do have a real life and responsibilities to attend, so 3 is a good limit timewise per design.</p>
      </div>
    
  </div>

    <!---
    <div class="row ig-pic text-center">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <a target="_blank" href="https://www.instagram.com/p/B9AKZHwhLtG/"><img src="images/310-real-example-phone.png" class="img-responsive" alt="@nancychains"></a> 
          
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <h3>Real Example</h3>
          <p>In order to prove <strong>this is not bullshit </strong>(because there's a lot out there) here is my first happy client under this new concept.</p>
          <p>Thanks to <strong><a href="https://www.instagram.com/nancychains/" target="_blank">nancychains</a></strong> for the good vibes and support it was fun creating the design with your wishes:</p>  
          <p>
            <ol>
              <li>With rainbow arcs</li>
              <li>Makem them girls</li>
              <li>It's for a birthday party</li>
            </ol>
          </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <img src="images/real-example-designs.png" class="img-responsive" alt="@nancychains">
        </div>
      
    </div>
    -->

    

    <div id="tips" class="row tips">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 text-center">
          <img src="images/tips-welcome.png" class="img-responsive" alt="Tips are welcome">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6 text-center">
          <h3>Support the #DRYBUDZ Project!</h3>
          <p>Hey there! If you've enjoyed my designs and would like to support the #DRYBUDZ project, I would truly appreciate it.

            Creating each design takes me anywhere from 1 to 3 hours, and your monetary contributions in the form of tips can go a long way in improving the idea. Your support will help me pursue my goals and make this project even better. Plus, there's even a video game in progress that you can look forward to!
            
            Thank you for considering to support the #DRYBUDZ project. <br /><br />
            
          </p>
  
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 text-center">
          <a href="http://paypal.me/iamdrybudz" target="_blank"><img src="images/creator-paypalme.png" class="img-responsive"
              alt="PayPal.Me/iamdrybudz"></a>
              <a id="paypalme" href="http://paypal.me/iamdrybudz" target="_blank">PayPal.Me/iamdrybuz</a>
        </div>
      </div>

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
            
      </div>
    </div>
  </div>
  <!--END GET YOURZ-->

  <!--Contact Section-->
  <div class="container text-center my-title">
    <h2 id="contact">Contact</h2>
  </div>
  <div class="container my-contact-container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 text-center">
        <div class="sticky-note">
          <p id="contact-text">High there! Thanks for the support and good vibes,<br /> If you have questions please
            send me an email:<br /> <span><a href="mailto:drybudz420@gmail.com?Subject=Hi" target="_top">drybudz420@gmail.com</a></span>
            This would be the best way to get a hold of me, you can also find me on <strong><a href="https://www.instagram.com/drybudz/"
                target="_blank">Instagram</a></strong> </p>

          <img src="images/drybudz-contact.jpg" class="img-responsive" alt="Drybudz Contact Us">
          <p class="sm-text">Life is a Cycle .:</p>
          
        </div>
      </div>



    </div>



  </div>

  <!--END Contact Section-->


  <!-- Fyah Creator Here -->
  <div id="fyah" class="container text-center my-title">
    <h2 id="navEmoji">Fyah Creator</h2>
    <p id="emoji-instr">Thanks for taking the time to check out the website! Play around with these lighters and come up with your own Fyah Lighter: </strong></p>
</div>
<main role="main" class="container">
  <div class="jumbotron my-jumbotron text-center">
    
    <div class="container-fluid no-padding">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <label class="radio-inline">
              <input id="emojiop1" type="radio" value="bodies" name="facePart" checked><span id="emoji-caras">Bodies</span>
            </label>
            <label class="radio-inline">
              <input id="emojiop2" type="radio" value="eyes" name="facePart"><span id="emoji-ojos">Eyes</span>
            </label>
            <label class="radio-inline">
              <input id="emojiop3" type="radio" value="boca" name="facePart" ><span id="emoji-bocas">Mouths</span>
            </label>
        </div>
        
      </div>

    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center controls">
        <span id="prevBtn" type="button" class="btn btn-success glyphicon glyphicon-menu-left"></span>
      </div>
      <div  class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center controls">
        <span id="nextBtn" type="button" class="btn btn-success glyphicon glyphicon-menu-right"></span>
      </div>
    </div>
      
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center no-padding"> 
               <div class="emojiFrame" onClick= "randomFace();">
                <img id= "headSet" class="head" src="images/fyah/body1.jpg" />
                <img id="bocaSet" class="boca" src="images/fyah/boca1.png" />
                <img id="eyeSet" class="eyes" src="images/fyah/eyes1.png" />
                
            </div>
            
          </div> 
        </div>
        <hr>
        <span id="changeBtn" class="btn btn-lg btn-primary glyphicon glyphicon-random" onClick= "randomFace();" role="button"></span>
        <p>(Generate a random FYAH character!)</p>
      </div>
   
  </div>
 
  
</main>
  <!-- END Fyah Creator Here -->

  <!--ZOOM DRYBUDZ STARTS HERE-->

  <section class="container-fluid text-center my-title myposter">
    <h2 id="poster">#DRYBUDZ Poster</h2>

    <p id="poster-instr-desktop">As you can see there's a lot going on, this is a regular day at the <strong>#DRYBUDZ</strong>
      world, this view is from the <b>HOLLYWEED</b> mountains.<br />I have included a lot of details about the #DRYBUDZ
      world
      in this poster! I hope you can enjoy it!<br />
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 col-md-offset-1 col-lg-offset-1">
          <img src="images/gameposter_section_instructions-md.png" class="img-responsive" alt="Poster Instructions">
          <p>Can you find the <strong>missing items?</strong> I can assure you that you will find a lot of interesting
            things while looking around.</p>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
          <img src="images/gameposter_section_720-md.png" class="img-responsive" alt="Poster Instructions">
          <p>Hover over the map to <strong>zoom in</strong>. <br /> If the magnifying glass doesn't appear, please wait
            a few more
            seconds for the whole image to load.</p>

        </div>
        <br>

      </div>
      <div class="row poster">
        <div class="col-sm-12">
          <div class="imageWidget" editablewidget="true" data-widget-type="image">
            <!--<img class="zoom" src="https://irp-cdn.multiscreensite.com/bc16a3a3/dms3rep/multi/desktop/product-of-the-month-980x500.jpg" data-magnify-src="https://irp-cdn.multiscreensite.com/5f67c11e/dms3rep/multi/product-of-the-month-980x500.jpg">-->
            <img class="zoom" src="images/poster/poster-giveaway-1200.jpg" data-magnify-src="images/poster/poster-giveaway-large.jpg">

          </div>
        </div>
      </div>
  </section>
  <!--ZOOM DRYBUDZ ENDS HERE-->


  <!--Back to top
      vvvvvvvvvvvvvvvv
      -->
  <a id="myBtnTop" href="#getyours">
  </a>
  <!--Pre Footer
      vvvvvvvvvvvvvvvvvvvv
      -->
  <div class="container-fluid">
    <div class="row myprefooter">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
        <a target="_blank" href="https://www.instagram.com/drybudz/">
          <img src="images/dbz-icon.png" alt="Drybudz Icon">
          <p>@drybudz</p>
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
        <a target="_blank" href="https://www.instagram.com/drybudz/"><img src="images/ig-logo.png" alt="Instagram Icon">
          <p>Instagram</p>
        </a>
      </div>
    </div>
  </div>
  <!--END Pre Footer-->

  <footer class="footer">

    <a href="#navTop"><img src="images/footer-logo.png" alt="Drybudz"></a>

  </footer>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="js/popper.min.js"></script>
  <script src=""></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>




  <!--For Shakes-->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <!--For Shakes-->



  <!--
      Smooth Scroll Info
    https://www.w3schools.com/jquery/tryit.asp?filename=tryjquery_eff_animate_smoothscroll
    -->
  <script>
    $(document).ready(function () {
      // Add smooth scrolling to all links
      $("a").on('click', function (event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 800, function () {

            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    });
  </script>
  <!-- END Smooth Scroll Info
    https://www.w3schools.com/jquery/tryit.asp?filename=tryjquery_eff_animate_smoothscroll
    -->

  <!--Magnify Glass-->
  <script src="js/jquery.magnify.js"></script>
  <script src="js/jquery.magnify-mobile.js"></script>
  <script>
    var $zoom;
    $(document).ready(function () {
      // Initiate magnification powers
      $zoom = $('.zoom').magnify({
        afterLoad: function () {
          console.log('Magnification powers activated!');
        }
      });
    });
    $('button').click(function () {
      $zoom.destroy();
    });
    $('html').on({
      magnifystart: function () {
        console.log('\'magnifystart\' event fired');
      },
      magnifyend: function () {
        console.log('\'magnifyend\' event fired');
      }
    });
  </script>

  <!-- by @Keno10cr .:-->
</body>

<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyChcmxzbwXo2VclKnrfQPNzCy-9n_cgBfg",
    authDomain: "drybudz-ig.firebaseapp.com",
    databaseURL: "https://drybudz-ig.firebaseio.com",
    projectId: "drybudz-ig",
    storageBucket: "drybudz-ig.appspot.com",
    messagingSenderId: "976890741469",
    appId: "1:976890741469:web:fc5c9df0f65cdacf451134",
    measurementId: "G-KQMPDFZH3T"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>

</html>